<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {{!--include CSS --}}
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Reastarunt List</a>
    </div>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  {{!-- including JS --}}
  <script src="/javascript/popper.min.js"></script>
  <script src="/javascript/jquery-3.6.0.min.js"></script>
  <script src="/javascript/bootstrap.js"></script>
</body>

</html>